html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.uk-navbar-nav>li:hover>a {
  color: #c7c7c7;
  font-weight: bold;
}

.uk-light .uk-text-meta {
  color: #e7e5e5;
}

.uk-background-primary {
  background: #1963ad;
}

.uk-light .uk-label {
  color: white;
  background: #1963ad;
}

.uk-light .uk-label.uk-label-danger {
  background: #b7203c;
}

.uk-card-default {
  box-shadow: 0 5px 15px white;
  border-radius: 1em;
}

.uk-navbar-nav > li.uk-active > a {
  font-weight: bold;
  color: white;
}

.uk-navbar-nav > li > a {
  color: white;
}

a.logo {
  background: url(/static/v8-outline.svg) no-repeat 50%;
  background-size: 80%;
  height: 6.5em;
  width: 6.5em;
}

span.logo {
  display: none;
}

div.logo {
  text-align: center;
  margin-top: 2.25em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  text-stroke: 1px gray;
  -webkit-text-stroke: 1px gray;
}

.formatted {
  white-space: pre-line;
}

pre {
  background: rgb(77, 77, 77);
}

pre > code {
  height: 20em;
  resize: vertical;
  min-height: 10em;
  max-height: 50em;
  white-space: pre-wrap;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.lead {
  margin-top: -2em;
}

.pager-span {
  display: block;
}

@media only screen and (max-width: 960px) {
  .lead {
    margin-top: -1.5em;
  }
}

@media only screen and (max-width: 400px) {
  #rss .uk-icon {
    display: none;
  }
}