.uk-card-default {
  box-shadow: 0 5px 15px white;
}

.uk-navbar-nav > li.uk-active > a {
  font-weight: bold;
  color: white;
}

.uk-navbar-nav > li > a {
  color: white;
}

a.logo {
  background: url(/static/v8-outline.svg) no-repeat 50%;
  background-size: 80%;
  height: 6.5em;
  width: 6.5em;
}

span.logo {
  display: none;
}

div.logo {
  text-align: center;
  margin-top: 2.25em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  text-stroke: 1px gray;
  -webkit-text-stroke: 1px gray;
}
